[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "site-lisp/color-theme-twilight"]
	path = site-lisp/color-theme-twilight
	url = git://github.com/crafterm/twilight-emacs.git
